.menu-container{
    border-right: 1px solid #e5e5e5;
    overflow-y: scroll;
    position: fixed;
    top: 50px;
    bottom: 0;
}
.dropdown-menu li a i{
	color: #666!important;
}
.regular-table tbody tr td{
	font-weight: 400!important;
	color: #333!important;
}
.regular-table th{
	color: #333!important;
}