/*.grid-view-loading
{
	background:url(loading.gif) no-repeat center 0;
}

.grid-view
{
	padding: 0;
}

.grid-view table.items
{
	border-collapse: collapse;
	width: 100%;
}

.grid-view table.items th, .grid-view table.items td
{
	padding: .8em .8em .8em .8em;
}

.grid-view table.items th
{
	text-align: left;
	border-bottom: 1px solid #d9d9d9;
	background: #eee;
}

.grid-view table.items th a
{
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
}

.grid-view table.items th a.asc
{
	background:url(up.png) right center no-repeat;
	padding-right: 15px;
}

.grid-view table.items th a.desc
{
	background:url(down.png) right center no-repeat;
	padding-right: 15px;
}

.grid-view table.items tr.even
{
	background: #fff;
}

.grid-view table.items tr.odd
{
	background: #fff;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
	background: #CCFF66;
}
.grid-view table.items tbody tr td
{
	border-bottom: 1px solid #eee;
}
.grid-view table.items tbody tr td a{
	color: #333;
	display: block;
}
.grid-view table.items tbody tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}
.grid-view th .caret{
	display: none;
}*/