@font-face{font-family:'icomoon';src:url('../fonts/icomoon.eot');src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
url('../fonts/icomoon.woff') format('woff'),
url('../fonts/icomoon.ttf') format('truetype'),
url('../fonts/icomoon.svg#icomoon') format('svg');font-weight:normal;font-style:normal;}
.rmm{margin:0 auto;}
.rmm ul{margin:0;padding:0;list-style:none;position:relative;}
.rmm ul:after{content:"";clear:both;display:block;}
.rmm ul li{float:left;}
.rmm ul li:hover{}
.rmm ul li:hover > ul{display:block;}
.rmm ul li:hover a{color:#fff;}
.rmm ul li a{color:#fff;display:block;text-decoration:none;}
.rmm ul ul{display:none;margin:0;padding:0;position:absolute;top:100%;}
.rmm ul ul li{float:none;position:relative;}
.rmm ul ul li a{color:#fff;}
.rmm ul ul li a:hover{}
.rmm ul ul ul{position:absolute;left:100%;top:0;width:100%;}
.rmm-toggled{width:100%;background-color:#555555;min-height:50px;margin:0 auto;display:none;}
.rmm-closed ~ .rmm-mobile{display:none!important;}
.rmm-toggled-controls{width:100%;}
.rmm-toggled-title{width:60%;float:left;font-size:27px;color:#fff;font-weight:600;display:block;padding:8px 0;text-decoration:none;text-transform:uppercase;text-align:left;padding-left:35px;}
.rmm-toggled-button{width:20%;float:left;margin-top:3px;display:block;width:32px;padding:0 !important;margin:10px 10px 0 0;border:1px solid #fff;border-radius:3px;float:right;}
.rmm-toggled-button span{float:left;display:block;margin:3px 6px;height:3px;background:white;width:20px;}
.rmm .rmm-back{display:none;font-size:12px;}
.rmm .rmm-back:after{display:none;}
.rmm .rmm-back a:after{font-family:'icomoon';speak:none;-webkit-font-smoothing:antialiased;content:"\e000";position:relative;display:inline-block;-webkit-transform:rotate(-60deg);transform:rotate(-60deg);top:1px;right:-2px;float:left;font-size:10px;}
.rmm.style{text-align:left;font-family:Tahoma;padding:32px 0 10px;}
.rmm.style ul{text-align:left;}
.rmm.style>ul{}
.rmm.style ul li{text-align:left;}
.rmm.style ul li:hover{}
.rmm.style>ul>li{-webkit-transition:0.4s;-moz-transition:0.4s;-o-transition:0.4s;transition:0.4s;}
.rmm.style>ul>li:hover{}
.rmm.style>ul>li:hover a{}
.rmm.style>ul>li{}
.rmm.style ul ul{display:none;margin:0;background:rgba(0, 0, 0, 0.29);border-radius:0px;padding:0;position:absolute;min-width:250px;z-index:9999;}
.rmm.style ul li a{color:#666664;display:block;text-decoration:none;font-family:opr;font-size:18px;-webkit-transition:0.4s;-moz-transition:0.4s;-o-transition:0.4s;transition:0.4s;border-radius:10px;}
.rmm.style>ul>li:hover>a{color:#fff;background:#fdb813;}
.rmm.style ul ul li {
    height: 40px;
    line-height: 40px;
}
.rmm.style ul ul li a{color:#fff;box-shadow:0 0 0 1px rgba(175, 173, 173, 0.75);}
.rmm.style ul ul li a:hover{background:#99282C;}
.rmm.style ul li > a:not(:only-child):after{font-family:'icomoon';speak:none;-webkit-font-smoothing:antialiased;content:"\e000";position:relative;display:inline-block;-webkit-transform:rotate(210deg);transform:rotate(210deg);top:-4px;left:1px;font-size:10px;}
.rmm.style ul ul li > a:not(:only-child):after{-webkit-transform:rotate(120deg)!important;transform:rotate(120deg)!important;top:2px;font-size:14px;float:right;margin-right:-20px;}
a.meanmenu-reveal{display:none;}
.meantext{color:#fff;position:absolute;top:5px;left:0;font-family:UVNHongHaHep_R;font-size:18px;padding-left:20px;text-transform:uppercase;font-weight:bold;}
.mean-container .mean-bar{float:left;width:100%;position:relative;background:#01448A;padding:4px 0;height:42px;z-index:999999;}
.mean-container .mean-bar>a{background:#01448A;}
.mean-container a.meanmenu-reveal{width:22px;height:22px;padding:13px 13px 11px 13px;position:absolute;top:0;right:0;cursor:pointer;color:#fff;text-decoration:none;font-size:16px;text-indent:-9999em;line-height:22px;font-size:1px;display:block;font-family:Arial, Helvetica, sans-serif;font-weight:700;}
.mean-container a.meanmenu-reveal span{display:block;background:#fff;height:3px;margin-top:3px;}
.mean-container .mean-nav{float:left;width:100%;background:rgba(22, 27, 45, 0.91);margin-top:44px;}
.mean-container .mean-nav ul{padding:0;margin:0;width:100%;list-style-type:none;}
.mean-container .mean-nav ul li{position:relative;float:left;width:100%;}
.mean-container .mean-nav ul li a{display:block;float:left;width:90%;padding:1em 5%;margin:0;text-align:left;color:#fff;border-top:1px solid #383838;border-top:1px solid rgba(255,255,255,0.5);text-decoration:none;font-family:Helm;}
.mean-container .mean-nav ul li li a{width:80%;padding:1em 10%;border-top:1px solid #f1f1f1;border-top:1px solid rgba(255,255,255,0.25);filter:alpha(opacity=75);text-shadow:none !important;visibility:visible;}
.mean-container .mean-nav ul li.mean-last a{border-bottom:none;margin-bottom:0;}
.mean-container .mean-nav ul li li li a{width:70%;padding:1em 15%;}
.mean-container .mean-nav ul li li li li a{width:60%;padding:1em 20%;}
.mean-container .mean-nav ul li li li li li a{width:50%;padding:1em 25%;}
.mean-container .mean-nav ul li a:hover{background:#252525;background:rgba(255,255,255,0.1);}
.mean-container .mean-nav ul li a.mean-expand{width:26px;padding:12px 10px !important;text-align:center;position:absolute;right:0;top:0;z-index:2;font-weight:700;background:rgba(255,255,255,0.1);border:none !important;border-left:1px solid rgba(255,255,255,0.4) !important;border-bottom:1px solid rgba(255,255,255,0.2) !important;}
.mean-container .mean-nav ul li a.mean-expand:hover{background:#6993b3;}
.mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both;}
.mean-nav .wrapper{width:100%;padding:0;margin:0;}
.mean-container .mean-bar, .mean-container .mean-bar *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.mean-remove{display:none !important;}
.mainmenu{display:none;}
.mean-bar{display:none;}
.mean-bar .meanmenu-reveal{transition:none;}
@media screen and (max-width:991px){.mean-bar{display:block;}
}
@media only screen and (min-width:1199px) and (max-width:1365px){}
@media only screen and (min-width:992px) and (max-width:1200px){.rmm.style ul li{}
.rmm.style ul li a{padding:10px 15px;}
}
.menu-main:after{display:block;content:'';clear:both;}
.menu-main{background:#fff;padding:5px;}
.mean-container a.meanmenu-reveal{z-index:9999999;}
.mean-bar{position:fixed !important;top:0;z-index:99999;}
.meantext img{height:35px;}
.nav-up{top:-50px !important;-webkit-transition:0.3s;-o-transition:0.3s;-moz-transition:0.3s;transition:0.3s;}
.nav-down{top:0px !important;-webkit-transition:0.3s;-o-transition:0.3s;-moz-transition:0.3s;}