/*
 * PixPro - Admin Dashboard
 * © 2014. All rights reserved by Creativico
 */
/***** Login Page *****/
.login-page {
  background: #20252b;
  background-size: cover;
}
.login-box {
  border-radius: 3px;
  background-color: #fff;
  margin: 0 auto;
  width: 320px;
  margin-top: 100px;
  overflow: hidden;
}
.login-box-title {
  background-color: #ffffff;
  padding: 15px 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.login-box-title.green {
  background-color: #a5c562;
  padding-bottom: 13px;
}
.login-box-title.red {
  background-color: #ff503f;
  padding-bottom: 13px;
}
.login-box-title.gray {
  background-color: #252b33;
  padding-bottom: 13px;
}
.login-box-title.light-blue {
  background-color: #91dff3;
  padding-bottom: 13px;
}
.login-box-title.yellow {
  background-color: #fdc554;
  padding-bottom: 13px;
}
.login-box-title.orange {
  background-color: #ff503f;
  padding-bottom: 13px;
}
.login-box-title.purple {
  background-color: #8175c7;
  padding-bottom: 13px;
}
.login-box-content {
  padding: 20px;
}
.login-box-content label {
  padding: 10px;
  color: #252b33;
}
.login-box-content input {
  margin-bottom: 15px;
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #e1e5e6;
  padding: 5px 10px;
  box-sizing: padding-box;
  border-radius: 3px;
}
.login-box-content input:focus {
  border-bottom-color: #ff503f;
}
.login-box-content input[type="submit"] {
  background-color: #323a45;
  padding: 14px 10px;
  box-sizing: padding-box;
  color: #fff;
  border-bottom: 0px !important;
}
.login-box-content .half {
  width: 49%;
  display: inline-block;
}
.login-box-content .half.last {
  text-align: right;
}
